@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/RobotoSlab-VariableFont_wght.ttf");
}




div.graph{
    margin: 5px;
    color: #fffffc;
    background-color: #406682;
    border-radius: 20px;
    -moz-border-radius: 15px;
    text-align: center;
    alignment: center;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}

div.block
{
    margin: 5px;
    color: #fffffc;
    background-color: #406682;
    border-radius: 20px;
    -moz-border-radius: 15px;
    text-align: center;
    display: inline-block;
    alignment: center;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    width: 20%
}

iframe{
    margin: 10px;
    background-color: #406682;
    border-radius: 20px;
    -moz-border-radius: 15px;
    alignment: center;
    border: 0;
    height: 350px;
}


