@font-face {
  font-family: "Roboto Slab";
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
   font-weight: normal;
   font-style: normal
 }

div.block
{
    margin: 5px;
    color: #fffffc;
    background-color: #406682;
    border-radius: 20px;
    -moz-border-radius: 15px;
    text-align: center;
    width: 25%;
    height: 50%;
    display: inline-block;
    alignment: center;
    font-family: 'Roboto Slab', serif;
    padding: 5px;
}

iframe{
    margin: 10px;
    background-color: #406682;
    border-radius: 20px;
    -moz-border-radius: 15px;
    alignment: center;
    border: 0;
    height: 350px;
}